
*{
  margin: 0;
    font-family:monospace;
  font-style: oblique;
}
  header {
  background-color: rgba(255, 255, 255, 0.936);
  position: sticky;

 
  top:0;

}
body{
  background-color: lightblue;
}

.logo h2{
  color: rgb(255, 98, 0);
    font-size: xx-large;
  
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
}
header img {
width: 50px;
}
.addTask{
  display: flex;
  flex-basis: 40%;
  gap: 1.5rem;
  justify-content: space-around;
  color:rgb(255, 98, 0);

}
.dialog-box{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addTaskLogo, .coffee{
      display: flex
;
    align-items: center;
  
    gap: 0.5em;
    cursor: pointer;
}

.task-box{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  margin-top: 2rem;
  align-items: center;
 
}
.card{
  width: 30%;
  max-width: 350px;
  border:plum 2px solid;
  padding:1rem;
  display: flex;
flex-direction: column;
background-color: white;
gap:0.4rem;
}
.card h1{
  font-size: large;
  margin:5px 0;
}
.card p{
  margin:5px 0;
}
.card button{
 border-radius: 5px;
 padding:0.3rem;
 background-color: rgb(241, 113, 34);
 border:none;
 color:white;

}
.card span{
  font-size: xx-small;
  color:lightslategray;
}
.status{
  background-color: rgb(112, 112, 140);
}
.task{
  max-width: 400px;
  width: 400px;
  max-height: 300px;

padding:1rem;
  margin:auto ;
  height: 300px;
 background-color: white;

  justify-content: center;
  align-items: center;
}
.task textarea{
  width: 400px;
  height: 200px;
  padding:3px;
  background-color: rgb(201, 222, 229);
}
.task textarea:focus{
  outline: none;
}
.addTask img{
  width: 30px;
}

.taskInput{
  width: 100%;
  margin:auto;
  background-color: rgb(237, 237, 237);

 
}
.taskInput input{
  width: 100%;
   font-size: x-large;
   padding:3px;
   background-color: rgb(237, 237, 237);
   border:rgb(255, 119, 0) 1px solid;
  
}
.taskInput input:focus{
  outline:none;
}
.task p{
  color:yellowgreen;
  height: 200px;
 

}
.task p:focus{
  outline: none;
}
.taskButtons{
  display: flex;
  justify-content: space-between;
}

.taskButtons button{
  border-radius: 10px;
  font-size: 1.2rem;
  padding:0.5rem;

}
.editors{
  display: flex;
  justify-content: space-between;
}
select{
  text-align: center;
}
